---
import Button from "../components/Button.astro";
import SocialLinks from "../components/SocialLinks.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import portrait from "../assets/images/portrait.webp";
import TechCards from "../components/TechCards.astro";
import ProjectCard from "../components/ProjectCard.astro";
import allProjects from "../data/projects.json";
import certifications from "../data/certifications.json";
import setup from "../assets/images/setup.webp";
import portrait2 from "../assets/images/portrait2.webp";
import CertificationCard from "../components/CertificationCard.astro";
import Reviews from "@/components/Reviews.astro";

const priorityOrder = {
  high: 1,
  medium: 2,
  low: 3,
};

// tri + limitation à 4 projets
const projects = [...allProjects]
  .sort((a, b) => priorityOrder[a.priority] - priorityOrder[b.priority])
  .slice(0, 4);
---

<BaseLayout>
  <div class="relative">
    <div class="relative w-full overflow-hidden">
      <!-- IMAGE HERO LIGHT (LCP) -->
      <img
        src="/background/sakura-white.webp"
        alt=""
        fetchpriority="high"
        decoding="async"
        class="absolute inset-0 w-full h-full object-cover -z-10 dark:hidden"
      />

      <!-- IMAGE HERO DARK (LCP) -->
      <img
        src="/background/bg-black1.webp"
        alt=""
        fetchpriority="high"
        decoding="async"
        class="absolute inset-0 w-full h-full object-cover -z-10 hidden dark:block"
      />

      <!-- OVERLAY OPTIONNEL (gradient / voile) -->
      <div class="absolute inset-0 bg-white/30 dark:bg-black/50"></div>
      <!-- HERO CONTENT -->
      <div class="relative w-full min-h-screen flex items-center justify-center overflow-hidden">
        <div
          class="text-center grid items-center flex-grow gap-4 max-w-4xl mx-auto"
        >
          <Image
            src={portrait}
            alt="Portrait d'Isabelle"
            class="rounded-full justify-self-center img-hero bordure-magique"
            width={200}
            height={200}
            sizes="(max-width: 768px) 192px, 256px"
            loading="eager"
            data-aos="fade-down"
            data-aos-duration="1200"
            data-aos-offset="200"
          />
          <h1
            class="text-gradient text-6xl md:text-6xl font-extrabold mb-6"
            data-aos="zoom-in-up"
            data-aos-duration="1200"
            data-aos-offset="200"
          >
            Isabelle LAMARRE
          </h1>
          <div>
            <h2
              class="italic text-[var(--neon)]"
              data-aos="zoom-in-down"
              data-aos-duration="1200"
              data-aos-offset="200"
            >
              La Licorne Cosmique
            </h2>
          </div>
          <p
            class="text-3xl max-w-2xl mx-auto mb-4"
            data-aos="zoom-out-up"
            data-aos-duration="1200"
            data-aos-offset="200"
          >
            Développeuse Web passionnée par les technologies modernes
          </p>
        </div>
      </div>
    </div>

    <!-- Sections Container -->
    <div class="space-y-32 py-20">
      <!-- About Section -->
      <section id="about" class="px-4 py-20">
        <div class="max-w-6xl mx-auto">
          <div class="text-center section-inner">
            <h2 class="text-4xl font-bold mb-12">À propos de moi</h2>

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 items-center">
              <Image
                src={portrait2}
                alt="Portrait d'Isabelle à son set-up de travail"
                class="bordure-magique rounded-3xl h-auto mx-auto"
                width={400}
                height={300}
                loading="lazy"
                data-aos="zoom-in-down"
              />

              <div class="space-y-6 text-center glass">
                <p
                  data-aos="fade-right"
                  data-aos-duration="1200"
                  class="text-xl"
                >
                  Je m'appelle Isabelle, développeuse web passionnée et
                  curieuse, avec un parcours atypique : de la rigueur des
                  laboratoires scientifiques à la créativité du développement
                  web.
                </p>
                <hr class="hr-gradient" />

                <p
                  class="text-xl"
                  data-aos="fade-left"
                  data-aos-duration="1200"
                >
                  J'aime transformer des idées en projets concrets, qu'il
                  s'agisse de sites vitrines élégants, d'applications
                  interactives ou d'outils pratiques de back-office.
                </p>
                <hr class="hr-gradient" />

                <p
                  class="text-xl"
                  data-aos="fade-right"
                  data-aos-duration="1200"
                >
                  🚀 Toujours en quête d'apprentissage, je me forme actuellement
                  sur Google Cloud et je m'intéresse particulièrement aux
                  environnements Next.js, MongoDB et aux solutions DevOps pour
                  rendre mes projets encore plus solides et performants.
                </p>
                <hr class="hr-gradient" />

                <p
                  class="text-xl"
                  data-aos="fade-left"
                  data-aos-duration="1200"
                >
                  💡 Ce que j'aime le plus ? Trouver des solutions simples à des
                  problèmes complexes, et apporter une touche personnelle et
                  créative à mes projets.
                </p>
                <hr class="hr-gradient" />

                <p
                  class="text-xl"
                  data-aos="fade-right"
                  data-aos-duration="1200"
                >
                  👉 Aujourd'hui, je suis à la recherche aussi bien d'un poste
                  salarié pour continuer à monter en compétences au sein d'une
                  équipe, que de missions freelance pour accompagner des projets
                  concrets et variés.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Certifications Section -->
      <section id="certifications" class="px-4 py-20">
        <div class="max-w-6xl mx-auto">
          <h2 class="text-4xl font-bold text-center mb-12">Certifications</h2>

          <!-- GRID -->
          <div
            class="grid
        grid-cols-1
        sm:grid-cols-2
        gap-10
        justify-items-center"
          >
            {
              certifications
                .slice(0, 4)
                .map((cert) => <CertificationCard cert={cert} />)
            }
          </div>

          <!-- Voir plus -->
          {
            certifications.length > 4 && (
              <div class="flex justify-center mt-12">
                <Button variant="gradient" href="/certifications">
                  Voir toutes les certifications
                </Button>
              </div>
            )
          }
        </div>
      </section>

      <!-- Technologies Section -->
      <section id="technos" class="px-4">
        <div class="max-w-6xl mx-auto">
          <div class="text-center section-inner">
            <h2 class="text-4xl font-bold mb-12">Technologies & Outils</h2>
            <TechCards size="lg" />
          </div>
        </div>
      </section>

      <!-- Projects Section -->
      <section id="realisations" class="px-4">
        <div class="max-w-6xl mx-auto">
          <div class="text-center section-inner">
            <h2 class="text-4xl font-bold mb-12">Mes Réalisations</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-10 mb-10">
              {
                projects.map((projet, index) => (
                  <ProjectCard projet={projet} index={index} />
                ))
              }
            </div>
            {
              allProjects.length > 4 && (
                <Button variant="gradient" href="/projects">
                  Voir tous les projets
                </Button>
              )
            }
          </div>
        </div>
      </section>

      <Reviews />

      <!-- Contact Section -->
      <section id="contact" class="px-4">
        <div class="max-w-6xl mx-auto">
          <div class="section-inner text-center">
            <h2 class="text-4xl font-bold mb-12">Contacts</h2>

            <div
              class="flex flex-col xl:flex-row justify-center items-center gap-10 xl:gap-20"
            >
              <div
                class="text-center flex flex-col items-center glass space-y-8"
              >
                <div class="flex flex-col gap-4">
                  <a
                    class="text-md md:text-2xl p-3 mx-4"
                    href="mailto:lalicornecosmique62@gmail.com?subject=Contact depuis le site&body=Bonjour%20Isabelle,"
                    aria-label="lalicornecosmique62@gmail.com"
                    data-aos="zoom-in-up"
                    data-aos-duration="1200"
                  >
                    📧: lalicornecosmique62@gmail.com
                  </a>
                  <a
                    class="text-md md:text-2xl p-3"
                    href="tel:+33682157497"
                    aria-label="06 82 15 74 97"
                    data-aos="zoom-in-up"
                    data-aos-duration="1200"
                  >
                    📱: 06 82 15 74 97
                  </a>
                </div>
                <hr class="hr-gradient w-3/4" />
                <div data-aos="zoom-in-up" data-aos-duration="1200">
                  <SocialLinks size="lg" />
                </div>
                <hr class="hr-gradient w-3/4" />
                <div
                  class="my-4 gap-4"
                  data-aos="zoom-in-up"
                  data-aos-duration="1200"
                >
                  <p class="text-center my-4 mx-4">
                    Vous pouvez prendre rendez-vous directement ici pour me
                    parler de votre projet, soit en visio via GoogleMeet ou je
                    me déplace dans un rayon de 50 km autours d'Arras.
                  </p>
                  <Button
                    variant="gradient"
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://calendly.com/isabellelamarre62/premier"
                  >
                    Prendre rendez-vous
                  </Button>
                </div>
              </div>

              <Image
                src={setup}
                alt="setup"
                width={500}
                height={300}
                class="max-w-[90%] sm:max-w-[70%] md:max-w-[400px] w-full bordure-magique rounded-3xl h-auto"
                loading="lazy"
                data-aos="zoom-in-up"
                data-aos-duration="1200"
                data-aos-offset="200"
              />
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</BaseLayout>
