---
import Button from "./Button.astro";
import { Image } from "astro:assets";
import { getTechIcon } from "@/lib/techIcons";

interface Props {
  projet: {
    slug: string;
    title: string;
    description: string;
    thumbnail: string;
    techs: string[];
    badge?: string;
    delay?: number;
  };
  index: number;
}

const { projet, index } = Astro.props;

const isLazy = index >= 2; // 🔥 lazy à partir de la 3ème
const loadingType = isLazy ? "lazy" : "eager";


// On tronque la description proprement
const shortDescription =
  projet.description.length > 120
    ? projet.description.slice(0, 250) + "…"
    : projet.description;

// Génération URL
const link = `/projects/${projet.slug}/`;

function cldThumbnail(url, width = 720) {
  return url.replace('/upload/', `/upload/f_auto,q_auto,w_${width},c_fill/`);
}

---

<div
  data-aos="zoom-in-up"
  data-aos-delay={index * 200}
  data-aos-duration="900"
  data-aos-easing="cubic-bezier(.21,.98,.6,1)"
  class="group bg-white dark:bg-gray-800 rounded-xl shadow-md hover:shadow-xl transition-all duration-300 overflow-hidden border border-gray-200 dark:border-gray-700"
>
  <!-- Image -->
  <div class="relative h-56 overflow-hidden">
    <Image
      src={cldThumbnail(projet.thumbnail)}
      alt={projet.title}
      width={800}
      height={500}
      class="h-full w-full object-cover transition-transform duration-500 group-hover:scale-110"
      loading={loadingType}

    />
    <!-- Badge -->
    {
      projet.badge && (
        <span class="absolute top-3 left-3 bg-accent px-3 py-1 text-sm font-semibold text-white rounded-full shadow">
          {projet.badge}
        </span>
      )
    }
  </div>

  <!-- Contenu -->
  <div class="p-5 flex flex-col gap-4">
    <h3 class="text-3xl font-bold text-primary">{projet.title}</h3>

    <p class="text-xs opacity-80" set:html={shortDescription} />

    <!-- Tech stack -->
    <div class="flex flex-wrap items-center justify-center gap-3 mt-2">
      {
        projet.techs.map((tech) => (
          <Image
            src={getTechIcon(tech)}
            alt={tech}
            width={40}
            height={40}
            class="w-8 h-8 object-contain transition-transform duration-300 group-hover:scale-110"
            loading={loadingType}

          />
        ))
      }
    </div>

    <!-- Bouton -->
    <Button href={link}>Voir le projet</Button>
  </div>
</div>

